<app-header [hasSesion]="true"></app-header>
<div style="width: 100%; text-align: center;">
    <h1>{{form?.title}}</h1>
    <h3>{{form?.name}}</h3>
    <h5>{{form?.description}}</h5>
</div>
<mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile>
        <button mat-raised-button class="add-btn" (click)="openAddDialog(null)"><mat-icon>add_circle_outline</mat-icon></button>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let question of questions">
        <mat-card class="forms-card">
            <mat-card-header>
                <mat-card-title style="display: flex;justify-content: space-between;">
                    <p><mat-icon>help</mat-icon>&nbsp;{{question.questionType}}</p>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <button mat-button (click)="goToQuestionDetail(question)">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content style="margin-top: 20px;">
                {{question.title}}
            </mat-card-content>
        </mat-card>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openAddDialog(question)"><mat-icon>edit</mat-icon> Editar</button>
            <button mat-menu-item (click)="openConfirmDeleteDialog(question)"><mat-icon>delete</mat-icon> Eliminar</button>
        </mat-menu>
    </mat-grid-tile>
</mat-grid-list>